<?xml version='1.0'?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="T200">

  <xacro:macro name="T200" params="name fixTo xyz RPY">

    <link name='${name}_base_link'>
      <inertial>

        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="0.00001"/>
        <inertia
          ixx="0.0001" 
          ixy="0.0" 
          ixz="0.0"
          iyy="0.0001" 
          iyz="0.0"
          izz="0.0001"/>

      </inertial>
    </link>

    <joint name='${fixTo}_to_${name}_base_link_joint' type='fixed'>
        <parent link="${fixTo}"/>
        <child link="${name}_base_link"/>
        <origin rpy="${RPY}" xyz="${xyz}"/>
    </joint>
      
    <link name='${name}_thruster'>
      <visual name="cil">
          <geometry>
            <cylinder radius="0.0485" length="0.02"/>
          </geometry>
      </visual>

      <inertial>
        <mass value="0.00001"/>
        <inertia
          ixx="0.00001" 
          ixy="0.0" 
          ixz="0.0"
          iyy="0.0001" 
          iyz="0.0"
          izz="0.0001"/>
      </inertial>

    </link>
        
    <joint name='${name}_thruster_joint' type='fixed'>
        <parent link="${name}_base_link"/>
        <child link="${name}_thruster"/>
        <origin xyz="0.0485 0 0"/>
    </joint>
  
    <link name='${name}_propeler'>
      <inertial>
        <mass value="0.001"/>
        <inertia
          ixx="0.001" 
          ixy="0.0" 
          ixz="0.0"
          iyy="0.001" 
          iyz="0.0"
          izz="0.001"/>
      </inertial>
      
      <visual name="blade1">
        <origin xyz="0.01125 0. 0." rpy = "0.78 0.0 0.0"/>
        <geometry>
          
          <box size="0.0225 0.01  0.005"/> 
        
        </geometry>
      </visual>

      <visual name="blade2">
        <origin xyz="-0.01125 0.0 0.0" rpy = "0.78 0 0"/>
        <geometry>
          <box size="0.0225 0.01  0.005"/> 
        </geometry>
      </visual>

      <!--<visual name='${name}_propeler_visual'>
        <origin xyz="-0.032 -0.025 -0.00 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="file://meshes/Propeller.STL"/>  
        </geometry>
      </visual>-->
    </link>
    

    <joint name='${name}_propeler_joint' type='continuous'>
      <parent link="${name}_thruster"/>
      <child link="${name}_propeler"/>
      <origin xyz="0 0 -0.025"/>
      <axis xyz="0 0 1"/>
      <!--<limit effort="1000.0" velocity="0.200"/>-->
      <dynamics damping="0.01" friction="0.01"/>
    </joint>

    <gazebo>
      <plugin name="gz::sim::systems::LiftDrag" filename="gz-sim-lift-drag-system">
        <a0>0.3</a0>
        <alpha_stall>1.4</alpha_stall>
        <cla>4.2500</cla>
        <cda>0.10</cda>
        <cma>0.00</cma>
        <cla_stall>-0.025</cla_stall>
        <cda_stall>0.0</cda_stall>
        <cma_stall>0.0</cma_stall>
        <area>0.002</area>
        <air_density>1000</air_density>
        <cp>-0.084 0 0</cp>
        <forward>0 -1 0</forward>
        <upward>0 0 -1</upward>
        <link_name>${name}_propeler</link_name>
      </plugin>
    </gazebo>

  </xacro:macro>
  
</robot>
