<?xml version='1.0'?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="Camera">

  <xacro:macro name="CameraStero" params="name link xyz rpy">
    <xacro:property name="xyzLeftCam" value="0 0.05 0" />
    <xacro:property name="rpyLeftCam" value="0 0 0" />
    <xacro:property name="xyzRightCam" value="0 -0.05 0" />
    <xacro:property name="rpyRightCam" value="0 0 0" />
    <xacro:property name="visualCam" value="0.003 0.12  0.02" />
    

    <link name="${name}_camera_link">
        <visual>
            <geometry>
                <box size="${visualCam}"/>
            </geometry>

        </visual>

        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="0.00035"/>
            <inertia
            ixx="1"
            ixy="0"
            ixz="0"
            iyy="1"
            iyz="0"
            izz="1"/>
        </inertial>

    </link>

    <gazebo reference="${name}_camera_link">
        <material>Gazebo/Black</material>
    </gazebo>

    <joint name="${name}_camera_joint" type="fixed">
        <parent link="${link}"/>
        <child link="${name}_camera_link"/>
        <origin rpy="${rpy}" xyz="${xyz}"/>
        <axis xyz="1 0 0" />
    </joint>

    <gazebo reference="${name}_camera_joint">
        <preserveFixedJoint>true</preserveFixedJoint>
    </gazebo>

    
    <link name="${name}_left_camera_frame">
        <visual>
            <geometry>
                <box size="0.005 0.01 0.01"/>
            </geometry>

        </visual>

        <inertial>
            <origin xyz="0 0.069 -0.047" rpy="0 0 0"/>
            <mass value="0.0035"/>
            <inertia
            ixx="1"
            ixy="0"
            ixz="0"
            iyy="1"
            iyz="0"
            izz="1"/>
        </inertial>

    </link>

    <gazebo reference="${name}_left_camera_frame">
        <material>Gazebo/Red</material>
    </gazebo>

    <joint name="${name}_left_camera_join" type="fixed">
        <parent link="${name}_camera_link"/>
        <child link="${name}_left_camera_frame"/>
        <origin rpy="${rpyLeftCam}" xyz="${xyzLeftCam}"/>
        <axis xyz="1 0 0" />
    </joint>

    <link name="${name}_right_camera_frame">
        <visual>
            <geometry>
                <box size="0.005 0.01 0.01"/>
            </geometry>

        </visual>

        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="0.0035"/>
            <inertia
            ixx="1"
            ixy="0"
            ixz="0"
            iyy="1"
            iyz="0"
            izz="1"/>
        </inertial>

    </link>

    <gazebo reference="${name}_right_camera_frame">
        <material>Gazebo/Red</material>
    </gazebo>

    <joint name="${name}_right_camera_join" type="fixed">
        <parent link="${name}_camera_link"/>
        <child link="${name}_right_camera_frame"/>
        <origin rpy="${rpyRightCam}" xyz="${xyzRightCam}"/>
        <axis xyz="1 0 0" />
    </joint>

    <gazebo reference="${name}_left_camera_join">
        <preserveFixedJoint>true</preserveFixedJoint>
    </gazebo>
    
    <gazebo reference="${name}_right_camera_join">
        <preserveFixedJoint>true</preserveFixedJoint>
    </gazebo>

    <link name="${name}_camera_rgb_optical_frame">
            
        <inertial>
            <origin xyz="0 0.069 -0.047" rpy="0 0 0"/>
            <mass value="0.035"/>
            <inertia
            ixx="1"
            ixy="0"
            ixz="0"
            iyy="1"
            iyz="0"
            izz="1"/>
        </inertial>

    </link>


    <joint name="${name}_camera_rgb_optical_joint" type="fixed">
            <parent link="${name}_right_camera_frame"/>
            <child link="${name}_camera_rgb_optical_frame"/>
            
            <origin rpy="${-pi/2} 0 ${-pi/2}" xyz="0 0 0"/>
            <axis xyz="0 0 1" />
    </joint>

    <gazebo reference="${name}_camera_rgb_optical_joint">
        <preserveFixedJoint>true</preserveFixedJoint>
    </gazebo>
    
    
    <!-- camera -->
    <gazebo reference="${name}_camera_link">

        <sensor name="stereo_camera" type="multicamera" >
            
            <update_rate>20</update_rate>
            
            <camera name="left">
                <pose> ${xyzLeftCam} ${rpyLeftCam}</pose>
                <horizontal_fov>1.0855</horizontal_fov>
                <image>
                    <width>640</width>
                    <height>480</height>
                    <format>R8G8B8</format>
                </image>
                <clip>
                    <near>0.02</near>
                    <far>300</far>
                </clip>
                <noise>
                    <type>gaussian</type>
                    <mean>0.0</mean>
                    <stddev>0.007</stddev>
                </noise>
            </camera>
            

            <camera name="right">
                <pose> ${xyzRightCam} ${rpyRightCam}</pose>
                <horizontal_fov>1.0855</horizontal_fov>
                <image>
                    <width>640</width>
                    <height>480</height>
                    <format>R8G8B8</format>
                </image>
                <clip>
                    <near>0.02</near>
                    <far>300</far>
                </clip>
                <noise>
                    <type>gaussian</type>
                    <mean>0.0</mean>
                    <stddev>0.007</stddev>
                </noise>
            </camera>

            <plugin name="stereo_camera_controller" filename="libgazebo_ros_camera.so">
                <alwaysOn>true</alwaysOn>
                <updateRate>20.0</updateRate>
                <cameraName>${name}_camera_link</cameraName>
                <imageTopicName>image_raw</imageTopicName>
                <cameraInfoTopicName>camera_info</cameraInfoTopicName>
                <frame_name>${name}_camera_rgb_optical_joint</frame_name>
                <hackBaseline>0.07</hackBaseline>
                <distortionK1>0.0</distortionK1>
                <distortionK2>0.0</distortionK2>
                <distortionK3>0.0</distortionK3>
                <distortionT1>0.0</distortionT1>
                <distortionT2>0.0</distortionT2>
            </plugin>

        </sensor>

    </gazebo>
    
  </xacro:macro>
  
</robot>