<?xml version='1.0'?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="P3D">

  <xacro:macro name="P3D" params="frame_name body_name">

    <gazebo>
      <plugin name="ground_truth" filename="libgazebo_ros_p3d.so">
        <ros>
            <namespace>ground_truth</namespace>
            <remapping>odom:=odom</remapping>
        </ros>
        <frame_name>${frame_name}</frame_name>
        <body_name>${body_name}</body_name>
        <update_rate>200.0</update_rate>
        <gaussian_noise>0.00</gaussian_noise>
      </plugin>
    </gazebo>
    
  </xacro:macro>
  
</robot>
