<?xml version='2.0'?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="BlueRov2">
    <xacro:include filename="./Part/Thruster/T200.urdf.xacro" />
    <xacro:include filename="./Part/IMU/IMU.urdf.xacro" />
    <xacro:include filename="./Part/Camera/Camera.urdf.xacro" />
    <xacro:include filename="./Part/Camera/CameraDepth.urdf.xacro" />
    <xacro:include filename="./Part/Camera/CameraStereo.urdf.xacro" />
    <xacro:include filename="./Part/DVL/DVL.urdf.xacro" />
    <xacro:include filename="./Part/DepthSensor/DepthSensor.urdf.xacro"/>


    <link name="base_link">
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <!--<mesh filename="package://bluerov_ros_playground/model/BlueRov2.dae"/>-->
                <box size="0.2 0.2  0.1"/> 
            </geometry>
        </visual>
        <inertial>
        <origin xyz="0 0 -0.1" rpy="0 0 0"/>
        <mass value="9"/>
        <inertia
        ixx="1"
        ixy="0"
        ixz="0"
        iyy="1"
        iyz="0"
        izz="1"/>
        </inertial>
        
        <collision>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <geometry>
                    <box size="0.3 0.3 0.1"/>
                </geometry>
        </collision>

    </link> 

	
    <xacro:IMU name="base_link_imu_sensor" link="base_link" xyz="0 0 0" rpy="0 0 0"  />
    <!--<xacro:Camera name="camera_front" link="base_link" xyz="0.2 0 0" rpy="0 0 0" />-->
    <xacro:CameraDepth name="camera" link="base_link" xyz="0.2 0 0" rpy="0 0 0" />
    <!--<xacro:CameraStero name="camera_stereo" link="base_link" xyz="0.2 0 0" rpy="0 0 0" />-->
    <xacro:dvl_sensor name="dvl_front"
                  parent_link="base_link"
                  update_rate="10"
                  aperture="3.0" tilt="30.0"
                  min_range="0.3" max_range="40.0" resolution="0.01"
                  ref_frame="parent"
                  bottom_stddev="0.01"
                  wm_enabled="true" wm_bins="10" wm_near="20.0" wm_far="60.0" wm_stddev="0.05"/>

	<xacro:DepthSensor parent_link="base_link" sensor_name="water_pressure"/>
	
    <xacro:T200 name="thruster1" fixTo="base_link" xyz="0.125 -0.105 0.02" RPY="1.5707963 1.5707963 -0.78539815"/>
    <xacro:T200 name="thruster2" fixTo="base_link" xyz="0.125 0.105 0.02" RPY="1.5707963 1.5707963 3.92699075"/>
    <xacro:T200 name="thruster3" fixTo="base_link" xyz="-0.125 -0.105 0.02" RPY="1.5707963 1.5707963 0.78540075"/>
    <xacro:T200 name="thruster4" fixTo="base_link" xyz="-0.125 0.105 0.02" RPY="1.5707963 1.5707963 2.35619445"/>
    <xacro:T200 name="thruster5" fixTo="base_link" xyz="0 -0.105 0" RPY="3.1415926 0 0"/>
    <xacro:T200 name="thruster6" fixTo="base_link" xyz="0 0.105 0" RPY="3.1415926 0 0"/>

    <allow_auto_disable>1</allow_auto_disable>
    <gazebo>
        
        <plugin name="ArduPilotPlugin" filename="libArduPilotPlugin.so">
        <fdm_addr>127.0.0.1</fdm_addr>
        <fdm_port_in>9002</fdm_port_in>
        <fdm_port_out>9003</fdm_port_out>
        <imuName>base_link_imu_sensor</imuName>
        <connectionTimeoutMaxCount>5</connectionTimeoutMaxCount>

        <!--
            incoming control command [0, 1]
            so offset it by -0.5 to get [-0.5, 0.5].
            multiplier = 102
            Positive thrust = 51
            Negative thrust = -41
        -->
            
            <control channel="0">
            <type>VELOCITY</type>
            <offset>-0.5</offset>
            <p_gain>1</p_gain>
            <i_gain>0</i_gain>
            <d_gain>0</d_gain>
            <i_max>0</i_max>
            <i_min>0</i_min>
            <cmd_max>0.5</cmd_max>
            <cmd_min>-0.5</cmd_min>
            <jointName>thruster1_propeler_joint</jointName>
            <multiplier>102</multiplier>
            </control>

            <control channel="1">
            <type>VELOCITY</type>
            <offset>-0.5</offset>
            <p_gain>1</p_gain>
            <i_gain>0</i_gain>
            <d_gain>0</d_gain>
            <i_max>0</i_max>
            <i_min>0</i_min>
            <cmd_max>0.5</cmd_max>
            <cmd_min>-0.5</cmd_min>
            <jointName>thruster2_propeler_joint</jointName>
            <multiplier>102</multiplier>
            </control>

            <control channel="2">
            <type>VELOCITY</type>
            <offset>-0.5</offset>
            <p_gain>1</p_gain>
            <i_gain>0</i_gain>
            <d_gain>0</d_gain>
            <i_max>0</i_max>
            <i_min>0</i_min>
            <cmd_max>0.5</cmd_max>
            <cmd_min>-0.5</cmd_min>
            <jointName>thruster3_propeler_joint</jointName>
            <multiplier>102</multiplier>
            </control>

            <control channel="3">
            <type>VELOCITY</type>
            <offset>-0.5</offset>
            <p_gain>1</p_gain>
            <i_gain>0</i_gain>
            <d_gain>0</d_gain>
            <i_max>0</i_max>
            <i_min>0</i_min>
            <cmd_max>0.5</cmd_max>
            <cmd_min>-0.5</cmd_min>
            <jointName>thruster4_propeler_joint</jointName>
            <multiplier>102</multiplier>
            </control>


            <control channel="4">
            <type>VELOCITY</type>
            <offset>-0.5</offset>
            <p_gain>1</p_gain>
            <i_gain>0</i_gain>
            <d_gain>0</d_gain>
            <i_max>0</i_max>
            <i_min>0</i_min>
            <cmd_max>0.5</cmd_max>
            <cmd_min>-0.5</cmd_min>
            <jointName>thruster5_propeler_joint</jointName>
            <multiplier>102</multiplier>
            </control>

            <control channel="5">
            <type>VELOCITY</type>
            <offset>-0.5</offset>
            <p_gain>1</p_gain>
            <i_gain>0</i_gain>
            <d_gain>0</d_gain>
            <i_max>0</i_max>
            <i_min>0</i_min>
            <cmd_max>0.5</cmd_max>
            <cmd_min>-0.5</cmd_min>
            <jointName>thruster6_propeler_joint</jointName>
            <multiplier>102</multiplier>
            </control>
            
            <barometer>
            	<name>water_pressure</name>
            	<linkName>base_link</linkName>
            </barometer>
        </plugin> 

        <plugin
            filename="gz-sim-hydrodynamics-system"
            name="gz::sim::systems::Hydrodynamics">
            <link_name>base_link</link_name>
            <xDotU>1</xDotU>
            <yDotV>1</yDotV>
            <zDotW>2.5</zDotW>
            <kDotP>0.075</kDotP>
            <mDotQ>0.075</mDotQ>
            <nDotR>0.135</nDotR>
            <xUabsU>-20</xUabsU>
            <xU>-5</xU>
            <yVabsV>-20</yVabsV>
            <yV>-5</yV>
            <zWabsW>-50</zWabsW>
            <zW>-5</zW>
            <kPabsP>-0.5</kPabsP>
            <kP>-0.05</kP>
            <mQabsQ>-0.5</mQabsQ>
            <mQ>-0.05</mQ>
            <nRabsR>-1</nRabsR>
            <nR>-0.1</nR>
        </plugin>

    </gazebo>

</robot>
