<?xml version="1.0"?>
<sdf version="1.10" xmlns:xacro="http://www.ros.org/wiki/xacro" xmlns:gz="http://gazebosim.org/schema">
  <xacro:macro name="dvl_sensor"
               params="name parent_link:=base_link update_rate:=10
                       aperture:=3.0 tilt:=30.0 degrees:=true
                       min_range:=0.3 max_range:=40.0 resolution:=0.01
                       ref_frame:=parent bottom_stddev:=0.01 bottom_visualize:=false
                       wm_enabled:=true wm_bins:=10 wm_near:=20.0 wm_far:=60.0 wm_stddev:=0.05 wm_visualize:=false">

    <model name="${name}_model">
      <link name="${parent_link}">
        <sensor name="${name}" type="custom" gz:type="dvl">
          <update_rate>${update_rate}</update_rate>
          <gz:dvl>
            <arrangement degrees="${degrees}">
              <beam id="1"><aperture>${aperture}</aperture><rotation>45</rotation><tilt>${tilt}</tilt></beam>
              <beam id="2"><aperture>${aperture}</aperture><rotation>-45</rotation><tilt>${tilt}</tilt></beam>
              <beam id="3"><aperture>${aperture}</aperture><rotation>135</rotation><tilt>${tilt}</tilt></beam>
              <beam id="4"><aperture>${aperture}</aperture><rotation>-135</rotation><tilt>${tilt}</tilt></beam>
            </arrangement>
            <tracking>
              <bottom_mode>
                <noise type="gaussian"><stddev>${bottom_stddev}</stddev></noise>
                <visualize>${bottom_visualize}</visualize>
              </bottom_mode>
              <water_mass_mode>
                <when>${wm_enabled}</when>
                <water_velocity><x>0</x><y>0</y><z>0</z></water_velocity>
                <boundaries><near>${wm_near}</near><far>${wm_far}</far></boundaries>
                <bins>${wm_bins}</bins>
                <noise type="gaussian"><stddev>${wm_stddev}</stddev></noise>
                <visualize>${wm_visualize}</visualize>
              </water_mass_mode>
            </tracking>
            <minimum_range>${min_range}</minimum_range>
            <maximum_range>${max_range}</maximum_range>
            <resolution>${resolution}</resolution>
            <reference_frame>${ref_frame}</reference_frame>
          </gz:dvl>

          <plugin
            filename="tethys-dopplervelocitylogsystem"
            name="tethys::DopplerVelocityLogSystem">
          </plugin>
        </sensor>
      </link>
    </model>
  </xacro:macro>
</sdf>
